.header{
    background: $primary;
    padding: 0.63rem 0;
    height: 3.5rem;
    .logo{
        column-gap: 0.75rem;
        .wsp-logo{
            img{
                max-width: 100%;
            }
        }
    }
}
.wsp-content{
    padding-top: 3.5rem;
    .wsp-nav-wrap{
        background:$white;
        width: 20rem;
        height: calc(100vh - 3.5rem);
        @include wsp-flex-center;
    }
    .wsp-content-wrap{
        width: calc(100% - 20rem);
        @include wsp-flex-center;
    }
}