.wsp-d-none {
    display: none;
}

.wsp-d-inline {
    display: inline;
}

.wsp-d-inline-block {
    display: inline-block;
}

.wsp-d-block {
    display: block;
}

.wsp-d-table {
    display: table;
}

.wsp-d-table-row {
    display: table-row;
}

.wsp-d-table-cell {
    display: table-cell;
}

.wsp-d-flex {
    display: -ms-flexbox;
    display: flex;
}

.wsp-d-inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex;
}