.wsp-navbar-vertical {
    list-style-type: none;
    margin: 0;
    padding: 1.875rem;
    padding-bottom: 0;
    .wsp-nav-link {
        margin-bottom: 1.5rem;
        a {
            display: inline-block;
            text-decoration: none;
            .wsp-link-text {
                color: $text-body;
            }
            .wsp-icon-dropdown {}
        }
    }
}