*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body
//
// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.
// 3. Change the default tap highlight to be completely transparent in iOS.
html{
    font-size: 16px;
}
body {
    margin: 0; //1
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    color: $text-body;
    font-size: $font-size-base;
    background-color: $bg-body; //2
    -webkit-tap-highlight-color: rgba(black, 0); // 3
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: $dt-font-weight;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: $font-weight-bold;
}

a {
  color: $primary;
  text-decoration: $link-decoration;
  background-color: transparent;
}

  &:hover() {
    color: $link-hover-color;
  }
  
  h1 {
    @extend %heading;
    font-size:$h1-font-size;
  }
  
  h2 {
    @extend %heading;
    font-size:$h2-font-size;
  }
  
  h3 {
    @extend %heading;
    font-size:$h3-font-size;
  }
  
  h4 {
    @extend %heading;
    font-size:$h4-font-size;
  }
  
  h5 {
    @extend %heading;
    font-size:$h5-font-size;
  }
  
  h6 {
    @extend %heading;
    font-size:$h6-font-size;
  }
  