// Color
$primary:#5156BE;
$secondary:#74788D;
$success:#2AB57D;
$success-light:#D1FCEA;
$danger:#FD625E;
$danger-light:#FFE4E3;
$warning:#ffbf53;
$warning-light:#FFEBC9;
$info:#4ba6ef;
$info-light:#D6EDFF;
$dark:#343a40;
$light:#e9e9ef;
$white:#ffffff;
$black:#000000;
$bg-body:#f8f8f8;
$text-body:#171923;
$gray-100: #EDF2F7;
$gray-200: #e9ecef;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-600:#ced4da;
$gray-700:#2D3748;
$gray-800:#6c757d;
$gray-light: #CCCCCC;
$headings-color:#171923;
$body-bg:$white;
$body-color:$gray-700;

// Body
$body-bg:$bg-body;
$body-color:$text-body;

//anchor elements.
$link-color:$primary;
$link-decoration:underline;
$link-hover-color:darken($link-color, 15%);
$link-hover-decoration:none;

// Paragraphs
$paragraph-margin-bottom:1rem;

$spacer: 1rem;
$label-margin-bottom: .5rem;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

$font-family-base:'Barlow',
sans-serif;
$font-size-base:1rem;
$font-size-sm:$font-size-base * .875;
$font-size-lg:$font-size-base * 1.125;

// Font-weight
$font-weight-light:300;
$font-weight-normal:400;
$font-weight-medium:500;
$font-weight-semibold:600;
$font-weight-bold:700;
$font-weight-base:$font-weight-normal;

$h1-font-size:$font-size-base* 2.5;
$h2-font-size:$font-size-base* 2;
$h3-font-size:$font-size-base* 1.75;
$h4-font-size:$font-size-base* 1.5;
$h5-font-size:$font-size-base* 1.25;
$h6-font-size:$font-size-base;

$headings-margin-bottom:$spacer / 2;
$headings-font-family:null;
$headings-font-weight:700;
$headings-line-height:1.5;
$headings-color:null;

$lead-font-size: $font-size-base * 1.25;
$lead-font-weight:$font-weight-light;

$text-muted:$gray-400;

//Line-height
$line-height-base:1.5;
$dt-font-weight: $font-weight-bold;

$border-width:1px;
$border-color:$gray-light;

$border-radius:.25rem;
$border-radius-lg:.3rem;
$border-radius-sm:.2rem;
$rounded-pill:50rem;

$box-shadow-sm:0 .125rem .25rem rgba($black, .075);
$box-shadow:0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:0 1rem 3rem rgba($black, .175);

$transition-base:all .2s ease-in-out;
$transition-fade:opacity .15s linear;
$transition-collapse:height .35s ease;

// Tables

$table-cell-padding: 0.475rem 0.625rem;
$table-cell-padding-sm: 0.16rem 0.625rem;

$table-color: #343A40;
$table-bg: null;
$table-accent-bg: #E9E9EF;
$table-hover-color: $table-color;
$table-hover-bg: rgba($black, .075);
$table-active-bg: $table-hover-bg;

$table-border-width: $border-width;
$table-border-color: #E9E9E9;

$table-head-bg: $gray-300;
$table-head-color: $gray-700;
$table-th-font-weight: $font-weight-medium;
$table-dark-color: $white;
$table-dark-bg: $gray-700;
$table-dark-accent-bg: rgba($white, .05);
$table-dark-hover-color: $table-dark-color;
$table-dark-hover-bg: rgba($white, .075);
$table-dark-border-color: lighten($table-dark-bg, 7.5%);
$table-striped-order: odd;
$table-caption-color: $text-muted;

// List group

$list-group-color: null;
$list-group-bg: #FCFCFC;
$list-group-border-color: $light;
$list-group-border-width: $border-width;
$list-group-border-radius: $border-radius;

$list-group-item-padding-y: 0.438rem;
$list-group-item-padding-x: 1.25rem;

$list-group-hover-bg: $gray-100;
$list-group-active-color: $white;
$list-group-active-bg: $primary;
$list-group-active-border-color: $list-group-active-bg;

$list-group-disabled-color: $gray-800;
$list-group-disabled-bg: $list-group-bg;

$list-group-action-color: $gray-700;
$list-group-action-hover-color: $list-group-action-color;

$list-group-action-active-color: $body-color;
$list-group-action-active-bg: $gray-200;

// Buttons + Forms

$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;
$input-btn-font-family: null;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;
$input-btn-focus-width: .2rem;
$input-btn-focus-color: rgba(#000, .25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm: .375rem;
$input-btn-padding-x-sm: .5rem;
$input-btn-font-size-sm: $font-size-sm;
$input-btn-line-height-sm: $line-height-base - 0.025;

$input-btn-padding-y-lg: .5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-line-height-lg: $line-height-base - 0.025;

$input-btn-border-width: $border-width;

// Buttons
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $input-btn-font-family;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;
$btn-white-space: nowrap; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;
$btn-line-height-sm: $input-btn-line-height-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;

$btn-border-width: $input-btn-border-width;

$btn-font-weight: $font-weight-normal;

$btn-box-shadow: inset 0 1px 0 rgba($white, .15),
0 1px 1px rgba($black, .075);
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-disabled-opacity: .65;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125);

$btn-link-disabled-color: $gray-400;

$btn-block-spacing-y: .5rem;

$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-transition: color .15s ease-in-out,
background-color .15s ease-in-out,
border-color .15s ease-in-out,
box-shadow .15s ease-in-out;

$btn-primary-color: $primary;
$btn-primary-hover-color: darken($btn-primary-color, 8%);
$btn-primary-active-color: darken($btn-primary-color, 8%);
$btn-primary-shadow-color: rgba($btn-primary-color, 0.5);

$btn-secondary-color: $secondary;
$btn-secondary-hover-color: darken($btn-secondary-color, 8%);
$btn-secondary-active-color: darken($btn-secondary-color, 8%);
$btn-secondary-shadow-color: rgba($btn-secondary-color, 0.5);

$btn-success-color: $success;
$btn-success-hover-color: darken($btn-success-color, 8%);
$btn-success-active-color: darken($btn-success-color, 8%);
$btn-success-shadow-color: rgba($btn-success-color, 0.5);

$btn-danger-color: $danger;
$btn-danger-hover-color: darken($btn-danger-color, 8%);
$btn-danger-active-color: darken($btn-danger-color, 8%);
$btn-danger-shadow-color: rgba($btn-danger-color, 0.5);

$btn-warning-color: $warning;
$btn-warning-hover-color: darken($btn-warning-color, 8%);
$btn-warning-active-color: darken($btn-warning-color, 8%);
$btn-warning-shadow-color: rgba($btn-warning-color, 0.5);

$btn-info-color: $info;
$btn-info-hover-color: darken($btn-info-color, 8%);
$btn-info-active-color: darken($btn-info-color, 8%);
$btn-info-shadow-color: rgba($btn-info-color, 0.5);


$enable-shadows : true;
$enable-transitions: true;

// Navs

$nav-link-padding-y: .5rem;
$nav-link-padding-x: 1rem;
$nav-link-disabled-color: $gray-light;
$tab-margin-block-start: 1;
$tab-margin-block-end: 1;
$tab-margin-inline-start: 0;
$tab-margin-inline-end: 0;
$tab-padding-inline-start: 2.5;

/* skeleton */
$skeleton-element-color: #E9E9EF;

$skeleton-loading-animation-time: 1.3s;

$skeleton-margin-standart: 1rem;
$skeleton-margin-small: $skeleton-margin-standart / 2;

$skeleton-card-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
$skeleton-card-background-color: #ffffff;
$skeleton-card-border-radius: 5px;

$skeleton-circle-size: 100px;

$skeleton-hr-height: 1px;

$skeleton-line-border-radius: 15px;
$skeleton-line-height: 16px;
$skeleton-line-margin-bottom: 8px;

$skeleton-headline-height: 1rem;

$skeleton-square-height: 150px;
$skeleton-rectangle-height: 400px;
$skeleton-rectangle-width: 400px;

// Grid columns

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;

// Cards

$card-spacer-y: .75rem !default;
$card-spacer-x: 1.25rem !default;
$card-border-width: $border-width !default;
$card-border-radius: $border-radius !default;
$card-border-color: rgba($black, .125) !default;
$card-inner-border-radius: subtract($card-border-radius, $card-border-width) !default;
$card-cap-bg: rgba($light, 1) !default;
$card-cap-color: null !default;
$card-height: null !default;
$card-color: null !default;
$card-bg: $white !default;

$card-img-overlay-padding: 1.25rem !default;

$card-group-margin: $grid-gutter-width / 2 !default;
$card-deck-margin: $card-group-margin !default;

$card-columns-count: 3 !default;
$card-columns-gap: 1.25rem !default;
$card-columns-margin: $card-spacer-y !default;


// Navbar

$navbar-padding-y: $spacer / 2 !default;
$navbar-padding-x: $spacer !default;
$navbar-nav-link-padding-x: .5rem !default;
$navbar-brand-font-size: $font-size-lg !default;

$nav-link-height: $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height: $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y: ($nav-link-height - $navbar-brand-height) / 2 !default;

$navbar-toggler-padding-y: .25rem !default;
$navbar-toggler-padding-x: .75rem !default;
$navbar-toggler-font-size: $font-size-lg !default;
$navbar-toggler-border-radius: $btn-border-radius !default;

$navbar-nav-scroll-max-height: 75vh !default;

$navbar-dark-color: rgba($white, .5) !default;
$navbar-dark-hover-color: rgba($white, .75) !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($white, .25) !default;

$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color: rgba($black, .5) !default;
$navbar-light-hover-color: rgba($black, .7) !default;
$navbar-light-active-color: rgba($black, .9) !default;
$navbar-light-disabled-color: rgba($black, .3) !default;

$navbar-light-toggler-border-color: rgba($black, .1) !default;

$navbar-light-brand-color: $navbar-light-active-color !default;
$navbar-light-brand-hover-color: $navbar-light-active-color !default;
$navbar-dark-brand-color: $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color: $navbar-dark-active-color !default;
